# IDE folders
.idea/
.hintrc
svg-assets/
.github/copilot-instructions.md
.github/agents/
.github/instructions/
source files/
python-scripts/
notes/
node_modules/

# build output
dist/

# config files
.vscode/
.eslintrc.json
.prettierrc
eslint.config.mjs
CLAUDE.md
.claude/

# Scripts
assets/gen-icons.mjs
assets/gen-icons-jpg.mjs

# Environment
scripts/env.js
